.head-sc {
  margin-left: 456px;
  margin-top: 58px;
  margin-bottom: -60px;
}

.main {
  margin: 190px;
  margin-left: 456px;
  margin-top: 58px;
}

.inp {
  margin-top: 20px;
}

.btn {
  margin-top: 15px;
  margin-left: 121px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  background-color: #fff;
}

.container {
  display: flex;
  gap: 50px;
}

.head {
  margin-bottom: -20px;
  font-size: 22px;
}

.head1 {
  margin-bottom: -10px;
  font-size: 22px;
}

.r-btn {
  margin-left: 150px;
  cursor: pointer;
  border-radius: 0;
  background-color: #fff;
}

.box {
  border: #000 solid 1px;
  margin-right: 15%;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  list-style-type: none;
  text-align: left;
  margin-left: -40px;
  margin-top: 10px;
}

.list-item:nth-child(1) {
  margin-top: -15px;
}

.list-item:nth-child(5) {
  margin-bottom: -15px;
}

.list-item:nth-child(odd) {
  background-color: aliceblue;
}
