* {
  font-family: "Poppins", sans-serif;
}

.body {
  border: 2px solid;
  margin-top: 100px;
  margin-left: 220px;
  margin-right: 220px;
}

h1 {
  color: rgba(24, 91, 155, 0.87);
}

.head-sc {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-left: 270px;
  margin-top: -58px;
  margin-bottom: -60px;
}

.main {
  margin: 80px;
  margin-top: 58px;
}

.inp {
  margin-top: 21px;
  margin-bottom: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.btn {
  margin-top: 15px;
  margin-left: 233px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border-color: #fff;
  background-color: rgba(24, 91, 155, 0.87);
  width: 100px;
  padding: 5px;
  padding-bottom: 0;
}

.container {
  display: flex;
  gap: 50px;
}

.head {
  margin-bottom: -20px;
  font-size: 22px;
  color: rgba(24, 91, 155, 0.87);
}

.head1 {
  margin-bottom: -10px;
  font-size: 22px;
  color: rgba(24, 91, 155, 0.87);
}

.r-btn {
  margin-left: 150px;
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  background-color: rgba(24, 91, 155, 0.87);
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  padding-bottom: 0;
}

.box {
  margin-right: 15%;
  margin-top: 10px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 10px;
  list-style-type: none;
  text-align: left;
  margin-left: -40px;
  margin-top: 10px;
}

.list-item:nth-child(1) {
  margin-top: -15px;
}

.list-item:nth-child(5) {
  margin-bottom: -15px;
}

.list-item:nth-child(odd) {
  background-color: aliceblue;
}
